@{
  Layout = "_Layout";
}
@model Factory.Models.License
<div class="container">
  <div class="jumbotron">
    <h1>Add a new License</h1>
  </div>
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.LicenseType)
    @Html.TextBoxFor(model => model.LicenseType, new {required = "required"})
    @Html.LabelFor(model => model.Description)
    @Html.TextAreaFor(model => model.Description, new {required = "required"})
    <input type="submit" value="Add new License" class="btn btn-outline-dark" />
  }
</div>