@{
  Layout = "_Layout";
}
@model Factory.Models.License
<div class="container">
  <div class="jumbotron">
    <h1>Delete a License?</h1>
  </div>
  <h3>Are you sure you want to Delete this @Model.LicenseType?</h3>
  @Html.DisplayFor(model =>model.LicenseType)
  @using (Html.BeginForm())
  {
    <input class="btn btn-outline-dark" type="submit" value="Delete" />
  }