@{
  Layout = "_Layout";
}
@model Factory.Models.Machine
<div class="container">
  <div class="jumbotron">
    <h1>Add a new Machine</h1>
  </div>
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new {required = "required"})
    
    <input type="submit" value="Add new Machine" class="btn btn-outline-dark" />
  }
</div>